body{
    font-family: fantasy;
}

h2{
    text-align: center;
}
#listheader{
    background-color: #4b0421;
    padding:10px;
    padding-bottom: 25px;
    color:#FFFFFF;
}

#newItem{
    width: 80%;
    border:0px;
    font-size:1.2em;
    text-align: left;
    padding: 3px;
    padding-left:5px;
}

input[name="addtask"], button{
    width: 7%;
    height: 35px;
    padding: 3px;
    text-align:center;
    font-size: 1.2em;
    -webkit-appearance: unset;
    border-radius: 5px;
    border:0px;
}

button{
    /* border: 1px solid #000000; */
    float: right;
    margin-right: 11%;
    width:10%;
    color:#FFFFFF;
    background-color: #1a90e3;
}

#saveItem{
    margin-right: 5%;
}

li, .item{
    background-color: #eda2a261;
    padding:0.5em;
    margin:1%;
}
ul{
    width : 80%;
    margin-left:10%;
    margin-right:10%;
    padding-inline-start: 0%;
}

.inputTask{
    width : 60%;
    margin-left:20%;
    margin-right:20%;
}

.itemDone{
    background-color: #b2f3c678;
    text-decoration: line-through;
}